@font-face{
    font-family: "Proxima Nova";
    src: url(./font/proximanova-regular.otf);
}
@font-face{
    font-family: "Eastman Trial bold italic";
    src: url(./font/EastmanTrial-BoldItalic.otf);
}
@font-face{
    font-family: "Eastman Trial extrabold";
    src: url(./font/EastmanTrial-Extrabold.otf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Proxima Nova';
    outline-style: none;
}


header {
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding-right: 30px;
}

nav a {
    padding: 40px;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}

nav a:hover{
    color: grey;
    transition: 0.5s;
}

.special_link {
    color: grey;
}

.special_link:hover {
    color: white;
}

/* Contact me */

.h1_contact {
    width: 100%; 
    height: 250px;
    padding: 80px 50px;
}

.h1_contact h1 {
    font-family: "Eastman Trial extrabold";
    font-size: 90px;
}

/* grid */

.container {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr) 1fr;
    grid-template-rows: 1fr;
    gap: 150px;
}

/* formulaire */

form {
    width: 100%;
    height: 500px;
    list-style: none;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 30px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.form_flex {
    display: flex;
    justify-content: space-around;
    padding: 40px 0 160px 0;
}

form label {
    font-size: 25px;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px 0;
}

.name input{
    border: none;
    border-bottom: solid gray 2px;
    background-color: transparent;
    width: 250px;
    padding: 20px 0;
    text-align: left;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px 0;
 }

 .email input{
    border: none;
    border-bottom: solid gray 2px;
    background-color: transparent;
    width: 250px;
    padding: 20px 0;
    text-align: left;
}

.msg {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 110px;
 }

 .msg input{
    border: none;
    border-bottom: solid gray 2px;
    background-color: transparent;
    padding: 50px 0;
    text-align: left;
    width: 740px;
}

::placeholder {
    color: gray;
    margin: 20px;
    font-family: "Proxima Nova";
    
}

/* réseaux */

.reseau {
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 600px;
}

.reseau ul li{
    padding: 50px 0;
}

.reseau ul li a {
    font-size: 25px;
    color: gray;
}

.reseau ul li a i {
    color: black;
}